h1 {
    color: var(--Dark-500, #0f1416);
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 52px */
}

h4 {
    color: var(--Dark-500, #0F1416);

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 150% */
}

.btnOrange {
    display: inline-flex;
    height: 40px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 100px;
    background: var(--Orange-Orange-500, #eb5b2a);
    color: var(--White-500, #fff);

    /* 14/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 0.07px;
}

.flexo {
    display: flex;
    width: 565px;
    justify-content: space-between;
    align-items: center;
    color: var(--Gray-Black-400, #4A4C56);

}

.card {
    display: flex;
    width: 100%;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    border-radius: 12px;
    background: var(--Orange-Orange-50, #FDEFEA);
}