
.rectangular-1 {
    width: 311.63px;
    height: 304.727px;
    position: absolute;
    left: -43px;
    bottom: 188.273px;
    background: var(--Orange-Orange-500, #EB5B2A);
    filter: blur(273.614990234375px);
}

.rectangular-2 {
    width: 311.63px;
    height: 304.727px;
    position: absolute;
    right: 156.37px;
    top: 278px;
    background: #3D9FFB;
filter: blur(228.61500549316406px);
}

.image-gradient-1 {
    background: linear-gradient(180deg, rgba(214, 83, 38, 0.00) 0%, #D65326 100%)
}

.image-gradient-2 {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 35.08%, rgba(0, 0, 0, 0.50) 77.71%);
}