@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", serif;
}
.inter {
  font-family: "Inter", serif;
}
.primary_text {
  color: #eb5b2a;
}
.active {
  color: #eb5b2a;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0.08px;
}

.pageTitle {
  color: var(--W, #fff);
  text-align: center;

  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: white;
  border: 2px solid #e1e1e1;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
}

input[type="range"]::-moz-range-thumb {
  background-color: white;
  border: 2px solid #e1e1e1;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  background-color: white;
  border: 2px solid #e1e1e1;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.animate-dropdown {
  animation: animates 1s ease-in-out forwards;
}

@keyframes animates {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  50% {
    opacity: 1;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.popup {
  animation: fade-up .8s cubic-bezier(0, .84, .01, 1.4) forwards;
  opacity: 0;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(0rem) scale(.8);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}